<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134251857_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
		<key>134251857_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,68},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
		<key>134251857_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,134},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
		<key>134251857_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,200},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
		<key>134251857_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,266},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
		<key>134251857_005</key>
		<dict>
			<key>frame</key>
			<string>{{2,332},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
		<key>134251857_006</key>
		<dict>
			<key>frame</key>
			<string>{{2,398},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
		<key>134251857_007</key>
		<dict>
			<key>frame</key>
			<string>{{2,464},{512,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,64}}</string>
			<key>sourceSize</key>
			<string>{512,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134251857</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>custom_ui/134251857</string>
	</dict>
</dict>
</plist>
