<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134242903_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,310},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,618},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_003</key>
		<dict>
			<key>frame</key>
			<string>{{204,618},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_004</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_005</key>
		<dict>
			<key>frame</key>
			<string>{{714,2},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_006</key>
		<dict>
			<key>frame</key>
			<string>{{714,204},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_007</key>
		<dict>
			<key>frame</key>
			<string>{{406,204},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_008</key>
		<dict>
			<key>frame</key>
			<string>{{406,406},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
		<key>134242903_009</key>
		<dict>
			<key>frame</key>
			<string>{{714,406},{200,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,306}}</string>
			<key>sourceSize</key>
			<string>{200,306}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134242903</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>custom_ui/134242903</string>
	</dict>
</dict>
</plist>
