<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>金色边框特效 1_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{900,1392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,1392}}</string>
			<key>sourceSize</key>
			<string>{900,1392}</string>
		</dict>
		<key>金色边框特效 1_00001</key>
		<dict>
			<key>frame</key>
			<string>{{2,904},{900,1392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,1392}}</string>
			<key>sourceSize</key>
			<string>{900,1392}</string>
		</dict>
		<key>金色边框特效 1_00002</key>
		<dict>
			<key>frame</key>
			<string>{{2,1806},{900,1392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,1392}}</string>
			<key>sourceSize</key>
			<string>{900,1392}</string>
		</dict>
		<key>金色边框特效 1_00003</key>
		<dict>
			<key>frame</key>
			<string>{{2,2708},{900,1392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,1392}}</string>
			<key>sourceSize</key>
			<string>{900,1392}</string>
		</dict>
		<key>金色边框特效 1_00004</key>
		<dict>
			<key>frame</key>
			<string>{{1396,2708},{900,1392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,1392}}</string>
			<key>sourceSize</key>
			<string>{900,1392}</string>
		</dict>
		<key>金色边框特效 1_00005</key>
		<dict>
			<key>frame</key>
			<string>{{2790,2},{900,1392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,1392}}</string>
			<key>sourceSize</key>
			<string>{900,1392}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>金色边框特效 1</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>textureFileName</key>
		<string>金色边框特效 1</string>
	</dict>
</dict>
</plist>
