<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134222863.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,286},{488,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{488,38}}</string>
			<key>sourceSize</key>
			<string>{488,38}</string>
		</dict>
		<key>134229871.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,318},{310,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,31}}</string>
			<key>sourceSize</key>
			<string>{310,31}</string>
		</dict>
		<key>134233730.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,358},{401,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{401,127}}</string>
			<key>sourceSize</key>
			<string>{401,127}</string>
		</dict>
		<key>134240418.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,328},{488,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{488,26}}</string>
			<key>sourceSize</key>
			<string>{488,26}</string>
		</dict>
		<key>134246339.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,393},{302,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,25}}</string>
			<key>sourceSize</key>
			<string>{302,25}</string>
		</dict>
		<key>134259030.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,135},{622,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,147}}</string>
			<key>sourceSize</key>
			<string>{622,147}</string>
		</dict>
		<key>134260467.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,358},{487,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{487,31}}</string>
			<key>sourceSize</key>
			<string>{487,31}</string>
		</dict>
		<key>134264393.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{626,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{626,127}}</string>
			<key>sourceSize</key>
			<string>{626,127}</string>
		</dict>
		<key>134272002.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,286},{393,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{393,28}}</string>
			<key>sourceSize</key>
			<string>{393,28}</string>
		</dict>
		<key>RL_Blood-bar_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,4},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>new_independ_billboard_batch_ui_0.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>new_independ_billboard_batch_ui_0.png</string>
	</dict>
</dict>
</plist>
